.form-floating{
    min-width: 350px;
}
.form-select{
    min-height: 80px !important;
    padding: 0px 20px !important;
    font-size: 15px;
}
.form-floating label i{
    font-size: 20px;
}
.form-select{
    cursor: pointer;
    border: none;
    box-shadow: -2px 4px 15px 0px rgba(19,19,249,0.31);
    -webkit-box-shadow: -2px 4px 15px 0px rgba(19,19,249,0.31);
    -moz-box-shadow: -2px 4px 15px 0px rgba(19,19,249,0.31);
}
.form-floating input{
    cursor: pointer;
    border: none;
    border-radius: 7px;
    min-width: 350px;
    min-height: 80px !important;
    padding: 0px 20px !important;
    font-size: 15px;
    box-shadow: -2px 4px 15px 0px rgba(19,19,249,0.31);
    -webkit-box-shadow: -2px 4px 15px 0px rgba(19,19,249,0.31);
    -moz-box-shadow: -2px 4px 15px 0px rgba(19,19,249,0.31);
}

.form-floating button[type=submit]{
    min-width: 350px;
    min-height: 80px; 
    margin-top: 2.5rem;
}


/* Book Modal */

.company-serv{
    border: none;
    box-shadow: -2px 4px 15px 0px rgba(134, 134, 134, 0.31);
    -webkit-box-shadow: -2px 4px 15px 0px rgba(84, 84, 84, 0.31);
    -moz-box-shadow: -2px 4px 15px 0px rgba(187, 187, 187, 0.31);
}

.company-serv i{
    color: rgb(26, 26, 68);
}